__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
env/
venv/
.venv-arm64/
*.egg-info/
dist/
build/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.dmypy.json
*.log
*.db
*.db-wal
*.db-shm
*.usearch
*.lmdb/
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store
