# Auto detect text files and perform LF normalization
* text=auto

# Source code
*.py text eol=lf
*.pyw text eol=lf
*.pyi text eol=lf

# Shell scripts
*.sh text eol=lf

# Configuration files
*.yaml text eol=lf
*.yml text eol=lf
*.toml text eol=lf
*.json text eol=lf
*.md text eol=lf
*.sql text eol=lf

# Web
*.html text eol=lf
*.css text eol=lf
*.js text eol=lf
*.ts text eol=lf

# Binary files (do not normalize line endings)
*.db binary
*.db-wal binary
*.db-shm binary
*.usearch binary
*.lmdb binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
